*{
    margin:0;
    padding:0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(100, 96, 96);
}
.navbar .navbar-nav a{
margin-left:50px;
}
.container{
    padding:30px;
    margin-top: 20px;
}
.row{
display: block;
}
#booksNlist{
    display:flex;
    justify-content: center;
}